appname = TravelSphere
httpport = 8080
runmode = dev
copyrequestbody = true

# External APIs
restcountries_base_url = "https://api.restcountries.com/countries/v5"
opentripmap_geoname_url = "https://api.opentripmap.com/0.1/en/places/geoname"
opentripmap_radius_url = "https://api.opentripmap.com/0.1/en/places/radius"

# API Keys
opentripmap_api_key = set_your_opentripmap_api_key_here
restcountries_api_key = set_your_restcountries_api_key_here
